.imagedesign{
    background-image: url('https://a-static.besthdwallpaper.com/alone-man-on-futuristic-dark-city-wallpaper-1680x1260-121248_24.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.input-width{
    width: 320px;
    height: 40px;
    position: relative;
    left: 150px;
}
.name-label{
    position: relative;
    right: 150px;
}
.form-group{
    margin-bottom: 12px;
}